@font-face {
    font-family: 'flappyBird';
    src: url('../fonts/8663.ttf');
}
@font-face {
    font-family: 'flappyBirdMenu';
    src: url('../fonts/FlappyBirdy.ttf');
}
body{
    background-color: green;
    touch-action: manipulation;
}
.boss{
    float: right;
    margin-top: 200px;
    margin-right: 300px;
}
.container{
    max-width: 1920px;
}
.game-name{
    margin-left: 50px;
    padding: 10px;
    border-radius: 20px;
    border: 5px darkgreen solid;
    background-color: white;
    color: green;
    font-family: 'flappyBird';
    font-size: 80px;
    text-align: center;
    margin-top: 100px;
}
.myBTN{
    padding: 30px;
    margin-top: 100px;
    border-radius: 20px;
    border: 5px solid darkgreen;
    background-color: white;
    text-align: center;
    font-family: 'flappyBird';
    color: green;
    font-size: 70px;
}
.header{
    text-align: center;
}
.game{
    border: 5px darkgreen solid;
    margin: 200px auto 0;
    width: 298px;
}
.menu{
    width: 288px;
    height: 512px;
    background-image: url("../img/fg.png"),url("../img/bird-bg.png");
    background-position: bottom left,top left;
    background-repeat: no-repeat,no-repeat;
}
.top-right-icon{
    float: right;
    margin: 5px 5px 0 0;
}
.FlappyBird{
    font-family: 'flappyBirdMenu';
    font-size: 65px;
    color: #fff;
    text-align: center;
    padding-top: 45px;
}
.play{
    text-align: center;
}
.settings-menu{
    text-align: center;
}
.difficult{
    margin: 20px auto;
}
#canvas{
    display: none;
}
#close-settings{
    display: none;
}
#difficult{
    display: none;
}
.animation-box{
    margin-left: 50px;
    text-align: center;
    margin-top: 200px;
    animation: ani 3s linear infinite;
}
.bird-animation{
    margin: 0 auto;
    width: 300px;
    height: 150px;
    animation: bird-ani 2s linear infinite;
}
@keyframes bird-ani{
    0%{
        padding-top: 10px;
    }
    50%{
        padding-top: 90px;
    }
    100%{
        padding-top: 10px;
    }
}
@keyframes ani{
    0%{
        transform: scale(1.5);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}
